@import "src/assets/Styles/variables";

.card-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 20px;
  padding: 1rem;
  background-color: $primary-white;
  border-radius: 10px;

  @media screen and (max-width: 728px) {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 150px;
    height: 150px;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;

  h1 {
    font-family: "Cairo", sans-serif;
    font-style: normal;
    font-size: 1.125rem;
    color: $primary-color;
    line-height: 33px;
    text-align: right;
  }

  &__price {
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
    line-height: 30px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    i {
      color: $primary-color-light;
    }
  }
}
