$primary-white: #ffffff;
$primary-black: #032326;

$primary-200: #f6f6f6;
$primary-300: #00000029;
$primary-400: #00000033;
$primary-500: #b7aeca;

$primary-color: #23104e;
$primary-color-light: #302ca2;

$seconadry-color: #26a37c;
